{% extends 'todo_app/layout.html' %}

{% block content %}

    <div class="header">
        <h1>Registation</h1>
    </div>

    <div class="body">
        <form method="POST" action="">

            {% csrf_token %}
            <label>{{ form.username.label }}</label>
            {{ form.username }}

            <label>{{ form.password1.label }}</label>
            {{ form.password1 }}

            <label>{{ form.password2.label }}</label>
            {{ form.password2 }}

            <input style="margin-top: 15px;" class="button" type="submit" value="Registrate">

            <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
        </form>

    </div>

{% endblock content %}